{% extends 'html/base.html' %}
{% block title %}Student registration{% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="row">
  	<div class="card col-md-4 mx-2 shadow-lg border-danger">
  		<h3 class="bg-primary my-2 border rounded p-2 text-light text-center">Registration</h3>
  		<div class="card-body">
  			<form method="post">
  				{% csrf_token %}
  				<input type="text" name="sr" placeholder="Enter Roll Number" class="form-control my-2">
  				<input type="text" name="sn" placeholder="Enter Name" class="form-control my-2">
  				<input type="text" name="sb" placeholder="Enter Branch" class="form-control my-2">
  				<input type="number" name="sy" placeholder="Select Year" class="form-control my-2">
  				<div class="row">
  					<div class="col">
  						<input type="reset" value="Clear" class="form-control btn btn-outline-danger">
  					</div>
  					<div class="col">
  						<input type="submit" value="Add Student" class="form-control btn btn-outline-success">
  					</div>
  				</div>
  			</form>
  		</div>
  	</div>
  	<div class="card col mx-2 shadow-lg h-100">
  		<h3 class="bg-warning border rounded p-2 text-light my-2">Details</h3>
  		<div class="card-body">
  			<table class="table table-borderless table-hover table-stiped">
  				<tr class="bg-dark text-light">
  					<th>sno</th>
  					<th>Roll Number</th>
  					<th>Name</th>
  					<th>Actions</th>
  				</tr>
  				{% for i in v %}
  				<tr>
  					<td>{{forloop.counter}}</td>
  					<td>{{i.stroll}}</td>
  					<td>{{i.stname}}</td>
  					<td></td>
  				</tr>
  				{% endfor %}
  			</table>
  		</div>
  	</div>
  </div>
</div>
{% endblock %}


